<div class="jumbotron">
    <h1>Adventure Works</h1>
    <p class="lead">We have something for every thrill seeking, adventure seeking cyclist out there.</p>
    <!--
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
     -->
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Mountain Bike</h2>
        <p><img id="img_mountainbike" alt="Mountain Bike" src="@Url.Content("~/Content/MountainBike.gif")" /></p>
        <p><a class="btn btn-default" href="~/Products/Category/M">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Road Bike</h2>
        <p><img id="img_roadbike" alt="Road Bike" src="@Url.Content("~/Content/RoadBike.gif")" /></p>
        <p><a class="btn btn-default" href="~/Products/Category/R">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tour Bike</h2>
        <p><img id="img_tourbike" alt="Tour Bike" src="@Url.Content("~/Content/TourBike.gif")" /></p>
        <p><a class="btn btn-default" href="~/Products/Category/T">Learn more &raquo;</a></p>
    </div>
</div>
