<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="AdventureWorks2014Entities" connectionString="metadata=res://*/AdventureWorksModel.csdl|res://*/AdventureWorksModel.ssdl|res://*/AdventureWorksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GNAIR-T430;initial catalog=AdventureWorks2014;User Id=test;Password=Test123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false"/>
    </diagnostics>

    <services>
      <service behaviorConfiguration="ServiceBehavior" name="AdventureWorksService.CustomerService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9001/services/customer"/>
            <add baseAddress="http://localhost:9002/services/customer"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="AdventureWorksService.ICustomerService">
        </endpoint>


        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
 
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding" portSharingEnabled="false" listenBacklog="1000" maxConnections="10000">
          <readerQuotas maxStringContentLength="65536"/>
          <security mode="None">
          </security>
          
          <!-- We don't need security for this demo app.
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
          -->
        </binding>
      </netTcpBinding>

      <customBinding>
        <binding name="CustomBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <transactionFlow transactionProtocol="OleTransactions"/>
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" connectionBufferSize="65536" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:10:00" maxBufferSize="2147483647" maxPendingConnections="10000" maxOutputDelay="00:10:00.2000000" maxPendingAccepts="1000" transferMode="Buffered" listenBacklog="1000" portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:10:00" idleTimeout="00:10:00" maxOutboundConnectionsPerEndpoint="10000"/>
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, 
               set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
               set the value below to true.  Set to false before deployment 
               to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>

          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentSessions="10000" maxConcurrentInstances="10000"/>

          <dataContractSerializer maxItemsInObjectGraph="500000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>